<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Individual Project Meirkhan Yesseyev</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img width="20" height="20" style="margin-right: 5px;" src="/static/img/cells.svg" />
                <strong>Malaria cell detection</strong>
            </a>
        </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Malaria cell detection</h1>
            <p class="lead text-muted">Drag the cell image into the rectangle:</p>
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <div id="dropPlaceholder2" class="dropBox" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                    <button onclick="predictImage(this)" class="btn btn-primary my-2">Identify</button>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for img_src in images %}
                    <div class="col-md-3">
                        <div class="card mb-3 shadow-sm card-cell">
                            <img id="drag{{ loop.index }}" class="img-cell" src="{{ img_src }}" draggable="true" ondragstart="drag(event)" width="140" height="140">
                            <div class="card-body">
                                <p class="card-text">Cell image. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quod.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <!-- TODO: write script to change image and text -->
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="changeImage(this)">Change image</button>
                                    </div>
                                    <small class="text-muted diagnose">Infected or Not</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Neural Network Project by &copy; Meirkhan Yesseyev</p>
    </div>
</footer>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>

